<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENV</key>
	<dict>
		<key>API_BASE_URL</key>
		<string>${API_BASE_URL}</string>
		<key>AUTH</key>
		<dict>
			<key>BASE_URL</key>
			<string>${AUTH_BASE_URL}</string>
			<key>CLIENT_ID</key>
			<string>${AUTH_CLIENT_ID}</string>
			<key>CLIENT_SECRET</key>
			<string>${AUTH_CLIENT_SECRET}</string>
			<key>GRANT_TYPE</key>
			<string>${AUTH_GRANT_TYPE}</string>
			<key>OPENID_URL_TEMPLATE</key>
			<string>${AUTH_OPENID_URL_TEMPLATE}</string>
			<key>REALM</key>
			<string>${AUTH_REALM}</string>
		</dict>
		<key>BUGLY_APPID</key>
		<string>${BUGLY_APPID}</string>
		<key>JPUSH</key>
		<dict>
			<key>APP_KEY</key>
			<string>${JPUSH_APP_KEY}</string>
			<key>APP_SECRET</key>
			<string>${JPUSH_APP_KEY}</string>
		</dict>
		<key>LEANCLOUD</key>
		<dict>
			<key>API_URL</key>
			<string>${LEAN_CLOUD_BASE_URL}</string>
			<key>APP_ID</key>
			<string>${LEAN_CLOUD_APP_ID}</string>
			<key>APP_SECRET</key>
			<string>${LEAN_CLOUD_APP_SECRET}</string>
		</dict>
		<key>LECHANGE</key>
		<dict>
			<key>API_URL</key>
			<string>${LC_API_URL}</string>
			<key>APP_ID</key>
			<string>${LC_APP_ID}</string>
			<key>APP_SECRET</key>
			<string>${LC_APP_SECRET}</string>
		</dict>
		<key>LOGZ</key>
		<dict>
			<key>HOST</key>
			<string>${LOGZ_HOST}</string>
			<key>PORT</key>
			<string>${LOGZ_PORT}</string>
			<key>TOKEN</key>
			<string>${LOGZ_TOKEN}</string>
		</dict>
		<key>SMART_CLOUD</key>
		<dict>
			<key>APP_KEY</key>
			<string>${SMART_CLOUD_APP_KEY}</string>
			<key>APP_SECRET</key>
			<string>${SMART_CLOUD_APP_SECRET}</string>
		</dict>
        <key>SOCIAL</key>
        <dict>
            <key>WECHAT_APP_KEY</key>
            <string>${SOCIAL_WECHAT_APP_KEY}</string>
            <key>WECHAT_APP_SECRET</key>
            <string>${SOCIAL_WECHAT_APP_SECRET}</string>
<!--            <key>QQ_APP_KEY</key>-->
<!--            <string>${SOCIAL_QQ_APP_KEY}</string>-->
<!--            <key>QQ_APP_SECRET</key>-->
<!--            <string>${SOCIAL_QQ_APP_SECRET}</string>-->
<!--            <key>WEIBO_APP_KEY</key>-->
<!--            <string>${SOCIAL_WEIBO_APP_KEY}</string>-->
<!--            <key>WEIBO_APP_SECRET</key>-->
<!--            <string>${SOCIAL_WEIBO_APP_SECRET}</string>-->
<!--            <key>DINGTALK_APP_KEY</key>-->
<!--            <string>${SOCIAL_DINGTALK_APP_KEY}</string>-->
<!--            <key>DINGTALK_APP_SECRET</key>-->
<!--            <string>${SOCIAL_DINGTALK_APP_SECRET}</string>-->
<!--            <key>ALIPAY_APP_KEY</key>-->
<!--            <string>${SOCIAL_ALIPAY_APP_KEY}</string>-->
<!--            <key>ALIPAY_APP_SECRET</key>-->
<!--            <string>${SOCIAL_ALIPAY_APP_SECRET}</string>-->
        </dict>
		<key>UMENG_APPID</key>
		<string>${UMENG_APPID}</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SmartHome</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(APP_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.17</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${URL_SCHEME_APP}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
                <string>${URL_SCHEME_WECHAT}</string>
			</array>
		</dict>
<!--        <dict>-->
<!--            <key>CFBundleTypeRole</key>-->
<!--            <string>Editor</string>-->
<!--            <key>CFBundleURLName</key>-->
<!--            <string>qq</string>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>${URL_SCHEME_QQ}</string>-->
<!--            </array>-->
<!--        </dict>-->
<!--        <dict>-->
<!--            <key>CFBundleTypeRole</key>-->
<!--            <string>Editor</string>-->
<!--            <key>CFBundleURLName</key>-->
<!--            <string>tencent</string>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>${URL_SCHEME_TENCENT}</string>-->
<!--            </array>-->
<!--        </dict>-->
<!--        <dict>-->
<!--            <key>CFBundleTypeRole</key>-->
<!--            <string>Editor</string>-->
<!--            <key>CFBundleURLName</key>-->
<!--            <string>weibo</string>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>${URL_SCHEME_WEIBO}</string>-->
<!--            </array>-->
<!--        </dict>-->
<!--        <dict>-->
<!--            <key>CFBundleTypeRole</key>-->
<!--            <string>Editor</string>-->
<!--            <key>CFBundleURLName</key>-->
<!--            <string>alipay</string>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>${URL_SCHEME_ALIPAY}</string>-->
<!--            </array>-->
<!--        </dict>-->
<!--        <dict>-->
<!--            <key>CFBundleTypeRole</key>-->
<!--            <string>Editor</string>-->
<!--            <key>CFBundleURLName</key>-->
<!--            <string>dingtalk</string>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>${URL_SCHEME_DINGDING}</string>-->
<!--            </array>-->
<!--        </dict>-->
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <!-- 微信 URL Scheme 白名单-->
        <string>wechat</string>
        <string>weixin</string>
        
        <!-- 新浪微博 URL Scheme 白名单-->
<!--        <string>sinaweibohd</string>-->
<!--        <string>sinaweibo</string>-->
<!--        <string>sinaweibosso</string>-->
<!--        <string>weibosdk</string>-->
<!--        <string>weibosdk2.5</string>-->

        <!-- QQ、Qzone URL Scheme 白名单-->
<!--        <string>mqqapi</string>-->
<!--        <string>mqq</string>-->
<!--        <string>mqqOpensdkSSoLogin</string>-->
<!--        <string>mqqconnect</string>-->
<!--        <string>mqqopensdkdataline</string>-->
<!--        <string>mqqopensdkgrouptribeshare</string>-->
<!--        <string>mqqopensdkfriend</string>-->
<!--        <string>mqqopensdkapi</string>-->
<!--        <string>mqqopensdkapiV2</string>-->
<!--        <string>mqqopensdkapiV3</string>-->
<!--        <string>mqqopensdkapiV4</string>-->
<!--        <string>mqzoneopensdk</string>-->
<!--        <string>wtloginmqq</string>-->
<!--        <string>wtloginmqq2</string>-->
<!--        <string>mqqwpa</string>-->
<!--        <string>mqzone</string>-->
<!--        <string>mqzonev2</string>-->
<!--        <string>mqzoneshare</string>-->
<!--        <string>wtloginqzone</string>-->
<!--        <string>mqzonewx</string>-->
<!--        <string>mqzoneopensdkapiV2</string>-->
<!--        <string>mqzoneopensdkapi19</string>-->
<!--        <string>mqzoneopensdkapi</string>-->
<!--        <string>mqqbrowser</string>-->
<!--        <string>mttbrowser</string>-->
<!--        <string>tim</string>-->
<!--        <string>timapi</string>-->
<!--        <string>timopensdkfriend</string>-->
<!--        <string>timwpa</string>-->
<!--        <string>timgamebindinggroup</string>-->
<!--        <string>timapiwallet</string>-->
<!--        <string>timOpensdkSSoLogin</string>-->
<!--        <string>wtlogintim</string>-->
<!--        <string>timopensdkgrouptribeshare</string>-->
<!--        <string>timopensdkapiV4</string>-->
<!--        <string>timgamebindinggroup</string>-->
<!--        <string>timopensdkdataline</string>-->
<!--        <string>wtlogintimV1</string>-->
<!--        <string>timapiV1</string>-->

        <!-- 支付宝 URL Scheme 白名单-->
<!--        <string>alipay</string>-->
<!--        <string>alipayshare</string>-->

        <!-- 钉钉 URL Scheme 白名单-->
<!--        <string>dingtalk</string>-->
<!--        <string>dingtalk-open</string>-->

        <!--Linkedin URL Scheme 白名单-->
<!--        <string>linkedin</string>-->
<!--        <string>linkedin-sdk2</string>-->
<!--        <string>linkedin-sdk</string>-->

        <!-- instagram URL Scheme 白名单-->
<!--        <string>instagram</string>-->

        <!-- line URL Scheme 白名单-->
<!--        <string>line</string>-->

        <!-- Facebook URL Scheme 白名单-->
<!--        <string>fbapi</string>-->
<!--        <string>fb-messenger-api</string>-->
<!--        <string>fb-messenger-share-api</string>-->
<!--        <string>fbauth2</string>-->
<!--        <string>fbshareextension</string>-->

        <!-- pinterest URL Scheme 白名单-->
<!--        <string>pinterestsdk.v1</string>-->

        <!-- Tumblr URL Scheme 白名单-->
<!--        <string>tumblr</string>-->

        <!-- 印象笔记 -->
<!--        <string>evernote</string>-->
<!--        <string>en</string>-->
<!--        <string>enx</string>-->
<!--        <string>evernotecid</string>-->
<!--        <string>evernotemsg</string>-->

        <!-- 有道云笔记-->
<!--        <string>youdaonote</string>-->
<!--        <string>ynotedictfav</string>-->
<!--        <string>com.youdao.note.todayViewNote</string>-->
<!--        <string>ynotesharesdk</string>-->

        <!-- Twitter-->
<!--        <string>twitter</string>-->
<!--        <string>twitterauth</string>-->
    </array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
            <key>bclsmartlife.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
            <key>jcloudcs.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The app needs camera to scan QR codes</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app needs to access your photo library to save the capture</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
