<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>APP_ENV</key>
        <dict>
            <key>API_BASE_URL</key>
            <string>${API_BASE_URL}</string>
            <key>AUTH</key>
            <dict>
                <key>BASE_URL</key>
                <string>${AUTH_BASE_URL}</string>
                <key>CLIENT_ID</key>
                <string>${AUTH_CLIENT_ID}</string>
                <key>CLIENT_SECRET</key>
                <string>${AUTH_CLIENT_SECRET}</string>
                <key>GRANT_TYPE</key>
                <string>${AUTH_GRANT_TYPE}</string>
                <key>OPENID_URL_TEMPLATE</key>
                <string>${AUTH_OPENID_URL_TEMPLATE}</string>
                <key>REALM</key>
                <string>${AUTH_REALM}</string>
            </dict>
            <key>UMENG_APPID</key>
            <string>${UMENG_APPID}</string>
            <key>BUGLY_APPID</key>
            <string>${BUGLY_APPID}</string>
            <key>JPUSH</key>
            <dict>
                <key>APP_KEY</key>
                <string>${JPUSH_APP_KEY}</string>
                <key>APP_SECRET</key>
                <string>${JPUSH_APP_KEY}</string>
            </dict>
            <key>LOGZ</key>
            <dict>
                <key>HOST</key>
                <string>${LOGZ_HOST}</string>
                <key>PORT</key>
                <string>${LOGZ_PORT}</string>
                <key>TOKEN</key>
                <string>${LOGZ_TOKEN}</string>
            </dict>
            <key>SMART_CLOUD</key>
            <dict>
                <key>APP_KEY</key>
                <string>${SMART_CLOUD_APP_KEY}</string>
                <key>APP_SECRET</key>
                <string>${SMART_CLOUD_APP_SECRET}</string>
            </dict>
            <key>LECHANGE</key>
            <dict>
                <key>API_URL</key>
                <string>${LC_API_URL}</string>
                <key>APP_ID</key>
                <string>${LC_APP_ID}</string>
                <key>APP_SECRET</key>
                <string>${LC_APP_SECRET}</string>
            </dict>
            <key>LEANCLOUD</key>
            <dict>
                <key>API_URL</key>
                <string>${LEAN_CLOUD_BASE_URL}</string>
                <key>APP_ID</key>
                <string>${LEAN_CLOUD_APP_ID}</string>
                <key>APP_SECRET</key>
                <string>${LEAN_CLOUD_APP_SECRET}</string>
            </dict>
        </dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>TwigExample</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(APP_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(APP_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.17</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>example</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>12</string>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>LSApplicationCategoryType</key>
        <string></string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>localhost</key>
                <dict>
                    <key>NSExceptionAllowsInsecureHTTPLoads</key>
                    <true/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <key>NSCameraUsageDescription</key>
        <string>The app needs camera to scan QR codes</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>The app needs to access your photo library to save the capture</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UIStatusBarStyle</key>
        <string>UIStatusBarStyleDefault</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>NSHumanReadableCopyright</key>
        <string></string>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
    </dict>
</plist>
